<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Alpha-Blog</title>
    </head>
    <header>
        <h1>Muh Blog: Read and weep</h1>
    </header>
    <body>
        <%= link_to 'Home', root_path %>
        </p>
        <img src="https://i.redd.it/lxt6k2ujdgex.jpg" alt="Am I doing it right?" width="700" height="500">
    </body>
</html>