<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Alpha-Blog</title>
    </head>
    <header>
        <h1>About Alpha-Blog</h1>
    </header>
    <body>
        <%= link_to 'Home', root_path %>
        </p>
        <img src="https://i.redd.it/lxt6k2ujdgex.jpg" alt="Am I doing it right?" width="700" height="500">
        <p>I am happy you could make it to this blog where you can:</p>
        <ul>
            <li>Keep a diary</li>
            <li>Create shopping lists</li>
            <li>Make wishlists</li>
            <li>Show others your geneology research</li>
        </ul>
    </body>
    <footer>My Footer</footer>
</html>