<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Alpha-Blog</title>
    </head>
    <header>
        <h1>Home of Alpha-Blog</h1>
    </header>
    <body>
        <%= link_to 'About', about_path %>
        <p>My Paragraph</p>
        <img src="https://i.redd.it/lxt6k2ujdgex.jpg" alt="Am I doing it right?" width="700" height="500">
        <ul>
            <li>My Item 1</li>
            <li>My Item 2</li>
            <li>My Item 3</li>
            <li>My Item 4</li>
            <li>My Item 5</li>
            <li>My Item 6</li>
            <li>My Item 7</li>
            <li>My Item 8</li>
        </ul>
    </body>
    <footer>My Footer</footer>
</html>