<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Alpha-Blog</title>
    </head>
    <header>
        <h1>Home of Alpha-Blog</h1>
    </header>
    <body>
        <%= link_to 'Alpha Blog', articles_path%> |
        <%= link_to 'About', about_path %>
        <h3>Welcome to my puter blog</h3>
        <img src="https://i.redd.it/lxt6k2ujdgex.jpg" alt="Am I doing it right?" width="700" height="500">
    </body>
</html>