@import 'bootstrap/dist/css/bootstrap';

#logo{
    float: left;
    font-size: 1.7em;
    color:#fff;
    text-transform: uppercase;
    letter-spacing: -3.2px;
    font-weight: bold;
}

#logo:hover{
    color:#fff;
    text-decoration: none;
}

.center{
    text-align: center;
}

.jumbotron {
    color:#fff;
    background-image: asset-url('wide_eyes.jpg');
    background-size: cover;
    margin: 45px;
    height: 550px;
}

.jumbotron h1{
    font-size: 6em;
    text-transform: uppercase;
    letter-spacing: -11px;
    font-weight: bold;
}

.jumbotron{ 
    .btn{
        font-size: 1.5em;
        margin: 80px;
    }
}

footer{
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
    a:hover{
        color: #222;
    }
    small{
        float: left;
    }
    ul{
        float: right;
        list-style: none;
        li{
            float: left;
            margin-left: 15px;
        }
    }
}